tbody tr:hover{
    background-color: #ffd740;
    font-weight: bold;
    cursor: pointer;
}

.add-button{
    position: fixed;
    bottom: 50px;
    right:100px;
}

.table-content-cutom{
    margin-top:100px;
    width: 100%;
    height: 100%;
}

th{
    background-color: #2962ff;
    color: white;
}

.mat-fab.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
    background-color: #ffd740;
}

.mat-fab.mat-accent:hover, .mat-mini-fab.mat-accent:hover, .mat-raised-button.mat-accent:hover {
    background-color: #ffd740;
}


.add-button:hover{
    animation: addrotate linear 0.8s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    -webkit-animation: addrotate linear 0.8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: addrotate linear 0.8s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 50% 50%;
    -o-animation: addrotate linear 0.8s;
    -o-animation-iteration-count: infinite;
    -o-transform-origin: 50% 50%;
    -ms-animation: addrotate linear 0.8s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 50%;
  }
  
  @keyframes addrotate{
    0% {
      transform:  scaleX(1.00) ;
    }
    50% {
      transform:  scaleX(0.00) ;
    }
    100% {
      transform:  scaleX(1.00) ;
    }
  }
  
  @-moz-keyframes addrotate{
    0% {
      -moz-transform:  scaleX(1.00) ;
    }
    50% {
      -moz-transform:  scaleX(0.00) ;
    }
    100% {
      -moz-transform:  scaleX(1.00) ;
    }
  }
  
  @-webkit-keyframes addrotate {
    0% {
      -webkit-transform:  scaleX(1.00) ;
    }
    50% {
      -webkit-transform:  scaleX(0.00) ;
    }
    100% {
      -webkit-transform:  scaleX(1.00) ;
    }
  }
  
  @-o-keyframes addrotate {
    0% {
      -o-transform:  scaleX(1.00) ;
    }
    50% {
      -o-transform:  scaleX(0.00) ;
    }
    100% {
      -o-transform:  scaleX(1.00) ;
    }
  }
  
  @-ms-keyframes addrotate {
    0% {
      -ms-transform:  scaleX(1.00) ;
    }
    50% {
      -ms-transform:  scaleX(0.00) ;
    }
    100% {
      -ms-transform:  scaleX(1.00) ;
    }
  }