<div class="card-flex-custom">
    <md-card *ngFor="let item of itemsCard" class="wow item-card" [class.fadeIn]="initFlag" data-wow-duration="2s" tabindex="0">
        <md-card-header>
            <div md-card-avatar class="item-header-image" [ngStyle]="{'background-image':'url(/assets/category-img/'+item.category+'.png)'}"></div>
            <md-card-title>{{item.name|uppercase}}</md-card-title>
            <md-card-subtitle>{{item.category}}</md-card-subtitle>
            <md-card-subtitle>
                <i class="fa fa-calendar-check-o" aria-hidden="true">
                            {{item.notificationDate[2]+"-"+item.notificationDate[1]+"-"+item.notificationDate[0]}}
                </i>
            </md-card-subtitle>
        </md-card-header>

        <img md-card-image [src]="item.photoUrl" [alt]="item.name">

        <md-card-content>
            <p>
                {{item.description.slice(0,80)+" ..."}}
            </p>
        </md-card-content>
        <md-card-content>
            <md-expansion-panel class="wish-list-panel" [class.custom-warn]="getLeastDaysString(item.notificationDate)==='Item is ready to collect!'">
                <md-expansion-panel-header>
                    <md-panel-title>
                        WishList
                    </md-panel-title>
                    <md-panel-description>
                        {{getLeastDaysString(item.notificationDate)}}
                    </md-panel-description>
                </md-expansion-panel-header>
                <md-list>
                    <md-list-item class="wish-list" *ngFor="let user of item.wishList">
                        <h4 md-line><img src="assets/avatar-img/{{user.id}}.png"> {{user.name}} {{user.surname}}</h4>
                    </md-list-item>
                </md-list>
            </md-expansion-panel>
        </md-card-content>

        <md-card-actions>
            <button md-button color="primary" class="card-button" (click)="openDialog(item.id)">More info</button>
        </md-card-actions>
    </md-card>
</div>