.edit-form{
    width: 80%;
    margin: auto;
    padding: 30px;
}

.half{
    float:left;
    width: 45%;
}

.form-field-input{
    width: 100%;
}
.form-field-textarea{
    width: 100%;
    height: auto;
    text-align: center;
}
.form-field-small-left{
    width: 45%;
    float: left;

}
.form-field-small-right{
    width: 45%;
    float: right;
}
.edit-button{
    width: 100%;
    margin: auto;
    padding-top: 80px;
}
.edit-button button{
    display: block !important;
    margin: auto !important;
    width: 60%;
    border: 0.1px solid lightgray;
    color: #1565c0;
 }