<form #itemForm="ngForm" class="edit-form">

    <div class="half">
        <md-form-field class="form-field-input">
            <input mdInput placeholder="Name" required name="name" [(ngModel)]="item.name">
        </md-form-field>
        <p>
            <md-form-field class="form-field-textarea">
                <textarea mdInput required placeholder="Description" name="description" [(ngModel)]="item.description" rows="4"></textarea>
            </md-form-field>
        </p>
        <md-select placeholder="Item status" required [(ngModel)]="item.itemStatus" name="itemStatus" class="form-field-small-left">
            <md-option *ngFor="let status of allItemStatus" [value]="status">
                {{status}}
            </md-option>
        </md-select>
        <md-select placeholder="Category" [(ngModel)]="item.category" required name="category" class="form-field-small-right">
            <md-option *ngFor="let category of allCategories" [value]="category">
                {{category}}
            </md-option>
        </md-select>
        <div style="clear: both;"></div>
        <p>
            <md-form-field class="form-field-small-left">
                <input mdInput required [mdDatepicker]="picker" placeholder="Notification date" [(ngModel)]="notificationDate" name="notificationDate">
                <md-datepicker-toggle mdSuffix [for]=" picker "></md-datepicker-toggle>
                <md-datepicker #picker></md-datepicker>
            </md-form-field>
            <md-form-field class="form-field-small-right">
                <input mdInput [mdDatepicker]="picker2" placeholder="Realization date" [(ngModel)]="realizationDate" name="realizationDate">
                <md-datepicker-toggle mdSuffix [for]=" picker2"></md-datepicker-toggle>
                <md-datepicker #picker2></md-datepicker>
            </md-form-field>
        </p>
        <div style="clear: both;"></div>

    </div>
    <div class="half" style="padding-left: 20px;">
        <p>
            <md-form-field class="form-field-small-left">
                <input mdInput placeholder="Color" required name="color" [(ngModel)]="item.color">
            </md-form-field>
            <md-form-field class="form-field-small-right">
                <input mdInput placeholder="Weight" required name="weight" [(ngModel)]="item.weight">
            </md-form-field>
        </p>
        <md-form-field class="form-field-input">
            <input mdInput placeholder="photoUrl" required name="photoUrl" [(ngModel)]="item.photoUrl">
        </md-form-field>
        <p>
            <md-select [placeholder]="item.owner?item.owner.name+' '+item.owner.surname:'Owner'" [(ngModel)]="item.owner" name="owner"
                class="form-field-small-left">
                <md-option *ngFor="let user of users" [value]="user">
                    {{user.name+" "+user.surname}}
                </md-option>
            </md-select>
            <md-select [placeholder]="item.finder?item.finder.name+' '+item.finder.surname:'Finder'" [(ngModel)]="item.finder" name="finder"
                class="form-field-small-right">
                <md-option *ngFor="let user of users" [value]="user">
                    {{user.name+" "+user.surname}}
                </md-option>
            </md-select>
        </p>
        <p>
            <md-select placeholder="Add users to WishList" [(ngModel)]="wishListUsers" name="wishlist" class="form-field-input" multiple>
                <md-option *ngFor="let user of usersCanBeAddedToWishList" [value]="user">
                    {{user.name+" "+user.surname}}
                </md-option>
            </md-select>
        </p>
        Rate:
        <md-slider [value]="item.quantityOfStars" class="rating" [disabled]="!(item.itemStatus==='COMPLETED'|| (notificationDate!=null&&realizationDate!=null) || (item.owner!=null && item.finder!=null))"
            max="5" min="0" thumb-label="true"></md-slider>
    </div>
    <div style="clear: both;"></div>
    <div class="edit-button">
        <button type="button" [disabled]="!itemForm.valid" md-raised-button (click)="saveChanges()">Save</button>
    </div>
</form>