.edit-form{
    width: 100%;
    margin: auto;
}

.half{
    float:left;
    width: 50%;
    padding: 40px;
}

.form-field-input{
    width: 100%;
}
.form-field-textarea{
    width: 100%;
    height: auto;
    text-align: center;
}
.form-field-small-left{
    width: 45%;
    float: left;

}
.form-field-small-right{
    width: 45%;
    float: right;
}
.edit-button{
    width: 100%;
    margin: auto;
}
.edit-button button{
    display: block !important;
    margin: auto !important;
    width: 50%;
    border: 0.1px solid #2962ff;
    color: #2962ff;
    letter-spacing: 2px;
    font-size: 120%;
}

md-form-field, md-select {
    margin-bottom: 20px;
}

.edit-button button:hover{
    background-color: #0039cb;
    color: white;
}