.container{
    margin:0 auto;
}

nav{
    text-align: center;
    background-color: #0039cb;
    color: white;
}

nav a:hover {
    background-color:#0039cb;
}

.active-link{
    color: white;
}

a{
    color: white;
    text-decoration: none;
}